@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #ffffff;
  background-color: #17191c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
body,
html {
  height: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* box-sizing: border-box; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
.main-page-wrapper {
  background: linear-gradient(black, black),
    url("img/background1.png") center top no-repeat,
    url("img/background2.png") center bottom 148px no-repeat;
  background-blend-mode: saturation;
  /* filter: grayscale(); */
  /* mix-blend-mode: luminosity; */
  /* box-shadow: inset 0px -46px 50px #17191c; */
}
.container {
  margin: 0 auto;
  width: 1140px;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 775px;
}

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  margin-right: 26px;
}

.menu {
  margin-right: 58px;
}
.contacts {
  font-style: normal;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  padding-left: 67px;
}

.menu__link {
  font-size: 16px;
  text-decoration: none;
}

.menu__link:hover {
  color: #8f00ff;
  transition: 0.5s;
}
.contacts__tel-wrap {
  margin-bottom: -7px;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #98a4a8;
  margin-bottom: 9px;
  padding-right: 5px;
}
.contacts__dropdown-title:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}
.contacts__schedule-wrap {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.contacts__schedule-wrap:hover .dropdown {
  opacity: 1;
  left: 35px;
}
.dropdown {
  padding: 12px 15px 15px;
  background: #cdd1d2;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  position: absolute;
  top: 100%;

  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
}
.dropdown__break {
  font-weight: 400;
}
.dropdown::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-bottom-color: #cdd1d2;
  border-top-width: 0;
  top: -10px;
  right: 30px;
}
.contacts__desc {
  color: #9a9a9a;
  font-size: 11px;
  text-align: right;
}
.welcome__text-section {
  width: 56%;
  margin-bottom: 193px;
}
.welcome__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.06;
  margin-bottom: 23px;
}
.welcome__subtitle {
  font-size: 21px;
  margin-bottom: 74px;
}

.btn {
  background-color: #8f00ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 18px 39px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.btn:hover {
  background: #741bba;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  transition: 0.5s;
}
.btn--color--grey {
  background: #8e8e8e;
}
.btn--color--grey:hover {
  background: #2b2b2b;
  transition: 0.5s;
}
.section {
  margin-bottom: 123px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.quizes__title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.quizes__title {
  margin-right: 10px;
}
.quizes__icon {
  margin-top: 5px;
}
.quizes__list {
  display: flex;
  justify-content: space-between;
}

.quiz {
  min-height: 450px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.quizes__item {
  width: calc(100% / 3 - 18px);
}

.quiz__header {
  height: 145px;
  margin-bottom: 31px;
  overflow: hidden;
  background-color: #150a18;
  border-radius: 4px 4px 0 0;
}

.quiz__image {
  width: 100%;
  height: 100%;
}

.quiz__content {
  padding: 0px 19px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quiz__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 22px;
}

.details__item {
  display: flex;
  justify-content: space-between;
}

.details__icon {
  padding-left: 5px;
  padding-right: 10px;
}

.details__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  width: 92%;
}

.quiz__desc {
  font-size: 14px;
  line-height: 1.62;
  padding-bottom: 23px;
}
.quiz__desc p {
  margin: 0;
  padding: 0;
}
.quiz__btn {
  background-color: #ffffff;
  color: #8f00ff;
  border: thin solid #8f00ff;
  padding: 18px 31px;
  margin-top: auto;
  margin-bottom: 27px;
}

.quiz__btn:hover {
  background-color: #741bba;
  color: #ffffff;
}

.btn_active {
  background-color: #8f00ff;
  color: #ffffff;
}

.past-games__list {
  display: flex;
  justify-content: space-between;
}
.game {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.past-games__item {
  margin-left: 2%;
  margin-bottom: 52px;
  flex: 1;
}
.past-games__item:first-child {
  margin-left: 0;
}

.game__photo {
  display: block;
  object-fit: cover;
  opacity: 0.8;
}

.game__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 28px 47px 28px 28px;
  min-height: 140px;
}

.game__date {
  font-size: 14px;
}

.game__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 17px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  justify-content: center;
}
.paginator__item {
  text-align: center;
}

.paginator__item--active .paginator__link {
  background: #8f00ff;
  color: #ffffff;
}
.paginator__item:hover {
  background: #8f00ff;
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.5s, color 0.5s;
}
.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.about {
  display: flex;
}
.about::before {
  content: "";
  width: 489px;
  height: 505px;
  background: url("img/about_img.jpg") center center / cover no-repeat;
  display: block;
  margin-top: 20px;
}
.about__content {
  background: linear-gradient(71.43deg, #8f00ff 0%, #148cff 100%), #212121;
  border-radius: 5px;
  padding: 70px 81px;
  max-width: 785px;
  margin-left: -138px;
  margin-top: 118px;
}
.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
}
.about__desc {
  margin-bottom: 43px;
  line-height: 1.68;
}
.about__desc p {
  margin-bottom: 20px;
}
.about__desc p:last-child {
  margin-bottom: 0;
}
.about__btn {
  border: thin solid #ffffff;
  background-color: transparent;
}
.footer-container {
  margin-top: auto;
}
.footer {
  position: relative;
  height: 150px;
  margin-top: -73px;
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu {
  margin-left: -16px;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.socials {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link {
  background: url("img/css_sprites.png") -10px -10px;
}
.socials__item--icon--telegram .socials__link:hover {
  background-position: -66px -10px;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.socials__item--icon--vk .socials__link {
  background: url("img/css_sprites.png") -10px -66px;
}
.socials__item--icon--vk .socials__link:hover {
  background-position: -66px -66px;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.socials__item--icon--fb .socials__link {
  background: url("img/css_sprites.png") -122px -10px;
}
.socials__item--icon--fb .socials__link:hover {
  background-position: -122px -66px;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.socials__item--icon--insta .socials__link {
  background: url("img/css_sprites.png") -10px -122px;
}
.socials__item--icon--insta .socials__link:hover {
  background-position: -66px -122px;
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* services page */
.top-line {
  min-height: 412px;
  background: linear-gradient(black, black),
    url("./img/background1.png") right 20% bottom 45% no-repeat;
  background-blend-mode: saturation;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 3px;
}
.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 45px;
  padding-top: 30px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #9a9a9a;
  text-decoration: none;
}
.breadcrumbs__item::after {
  padding-left: 2px;
  content: "/";
  color: #9a9a9a;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  color: #8f00ff;
  font-size: 14px;
}

.page-content {
  background-color: #ffffff;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 84px;
}
.services {
  margin-bottom: 68px;
}
.service {
  display: flex;
}
.services__item {
  margin-bottom: 47px;
}
.service__img {
  width: 40.5%;
  margin-right: 4.8%;
  background: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 333px;
  border-radius: 5px;
}
.service__img-elem {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 26px;
}
.service__desc {
  line-height: 1.7;
  margin-bottom: 34px;
}
.btn--white {
  background: #ffffff;
  color: #741bba;
  border: thin solid #741bba;
}

.btn--white:hover {
  color: #ffffff;
  transition: 0.5s;
}
.paginator-services {
  margin-left: 30px;
}

.inner-section {
  background: #ffffff;
  color: #000000;
  padding: 87px 0 76px 0;
}
.inner-section--bg-grey {
  background: #f4f5f5;
}
.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 45px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -14px;
}

.partners__link {
  width: 254px;
  height: 130px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}
.partners__link:hover {
  filter: grayscale(0);
  transition: 0.5s;
}
.inner-footer__container {
  padding: 70px 0;
  height: 132px;
}
.inner-footer {
  margin-top: auto;
}
/* reviews page */
.reviews-page-title {
  padding-top: 17px;
}
.reviews__inner-section-title {
  margin-bottom: 54px;
}
.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 51px;
}
.reviews__item {
  margin-bottom: 20px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px 32px;
  background: #f4f5f5;
  border-radius: 4px;
}
.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}
.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.review__user {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #1a1b1e;
  margin-bottom: 8px;
  padding-left: 23px;
  padding-top: 36px;
  text-decoration: none;
}
.review__user--active {
  text-decoration: underline;
  color: #2e77a4;
}
.review__user::after {
  content: url("./img/vk-blue-icon.png");
  height: 29px;
  padding-left: 8px;
}
.review__tags {
  display: flex;
  align-items: flex-start;
  padding-left: 22px;
}
.tag {
  font-size: 13px;
  color: #303030;
  padding: 9px 20px;
  border-radius: 50px;
  background: #e7e7e7;
}
.tag--bg--green {
  background: #b9eae4;
}
.review__tag-item {
  margin-bottom: 30px;
}
.review__title {
  font-size: 30px;
  color: #1a1b1e;
  font-weight: bold;
  margin-bottom: 11px;
  line-height: calc(42 / 30);
}
.review__content-text {
  margin-bottom: 50px;
  line-height: calc(27 / 16);
}
.review__content-text p {
  margin: 0;
}
.review__date {
  font-size: 14px;
  font-weight: bold;
  color: #1a1b1e;
}
.separator {
  background: #17191c url("./img/separator_img.png") right 24% bottom no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator__content {
  max-width: 40%;
}
.separator__title {
  font-size: 48px;
  font-weight: bold;
}
.reviews__inner-section {
  padding-top: 63px;
  padding-bottom: 96px;
}
.form__row {
  display: flex;
  margin-bottom: 30px;
}
.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #1a1b1e;
}
.form__input::placeholder {
  color: #666;
}
.form__input:focus {
  border: 1px solid #8f00ff;
  outline: none;
}
.form__input:last-child {
  margin-right: 0px;
}
.form__input--textarea {
  height: 235px;
}
.form__controls {
  display: flex;
  margin-bottom: 14px;
}
.form__controls-title {
  width: 38%;
  font-size: 18px;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.controls__elem {
  cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag {
  background: #b9eae4;
}
.controls__checkbox {
  display: none;
}
.form__btns {
  display: flex;
  justify-content: flex-end;
}
.form__btn {
  margin-right: 17px;
  min-width: 168px;
}
.form__btn:last-child {
  margin-right: 0;
}
/* welcome page */
.welcome-page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.welcome-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #17191c 0%, rgba(23, 25, 28, 0) 100%),
    url("./img/welcome.jpeg") center top 100px / cover no-repeat;
  filter: grayscale() opacity(0.4);
}
.welcome-page__container {
  z-index: 100;
}
.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.central__text-logo {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(87.62deg, #8f00ff -2.44%, #00a3ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 35px;
}
.central__btn {
  width: 168px;
  text-align: center;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    transform: translateY(-30px);
  }
  35% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-15px);
  }
  65% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
